{% extends 'base.html' %}

{% block title %} Tic-Tac-Toe {% endblock title %}

{% block content %}
<h1><span class="badge bg-success">Tic Tac Toe</span></h1>

<button type="button" id="player" onclick="changePlayer()" class="btn btn-primary">X</button><br>
<button type="button" id="input-button" onclick="clearBoard()" class="btn btn-dark">Clear Board</button>

<table class="table table-bordered border-primary">
    {% for i in range(3) %}
        <tr style="text-align: center;">
        {% for j in range(3) %}
            <td id="cell-{{ i }}-{{ j }}" onclick="updateCellText(this.id)">-</td>
        {% endfor %}
    {% endfor %}
</table>
{% endblock content %}

{% block scripts %}
<script>
    function updateCellText(id) {
        let cell = document.querySelector(`#${id}`);
        if (cell.innerText == '-') {
            cell.innerText = getPlayer();
            if (checkRowForWin(id)) {
                // write row winning logic
            } if (checkColForWin(getColNumberFromId(id))) {

            }
            changePlayer();
        } else
            console.log('Already filled!')
    }

    function getRowNumberFromId(id) {
        return parseInt(id.split('-')[1]);
    }

    function getColNumberFromId(id) {
        return parseInt(id.split('-')[2]);
    }

    function checkColForWin(id) {
        let colNumber = getColNumberFromId(id);
        const tempColValues = new Set();

        for (i = 0; i < 3; i++) {
            tempColValues.add(document.querySelector(`#cell-${i}-${colNumber}`).innerText)
        }

        if (tempColValues.size > 1)
            return false;
        if (tempColValues.has(getPlayer()))
            return true
        return false
    }

    function checkRowForWin(id) {
        let rowNumber = getRowNumberFromId(id)
        const tempRowValues = new Set();
        for (i=0; i < 3; i++) {
            tempRowValues.add(document.querySelector(`#cell-${rowNumber}-${i}`).innerText);
        }
        if (tempRowValues.size > 1)
            return false;
        if (tempRowValues.has(getPlayer()))
            return true;
        return false;
    }

    function getPlayer() {
        return document.querySelector("#player").innerText;
    }

    function changePlayer() {
        let playerButton = document.querySelector("#player");
        if (playerButton.innerText == "X") {
            playerButton.innerText = "O";
        } else {
            playerButton.innerText = "X";
        }
    }

    function clearBoard() {
        for (i=0; i<3; i++) {
            for (j=0; j<3; j++) {
                document.querySelector(`#cell-${i}-${j}`).innerText = '-';
            }
        }
    }
</script>
{% endblock scripts %}
