{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Tax Info{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<label for="monthly-income-input">Enter Monthly Income: </label>
<input type="number" id="monthly-income-input" /><br>

<div>
    <h3>Monthly Income: <span id="monthly-income">__</span></h3>
    <h3>Tax (%): <span id="tax-percentage">_ %</span></h3>
    <h3>Monthly Tax: <span id="monthly-tax">__</span></h3>
    <h3>Monthly Income After Tax: <span id="monthly-income-after-tax">__</span></h3>
    <h3>Monthly Taxable Amount: <span id="monthly-taxable-amount">__</span></h3>
    <h3>Yearly Income: <span id="yearly-income">__</span></h3>
    <h3>Yearly Income After Tax: <span id="yearly-income-after-tax">__</span></h3>
    <h3>Additional Tax Amount(yearly): <span id="additional-tax-amount">__</span></h3>
    <h3>Yearly Taxable Amount: <span id="yearly-taxable-amount">__</span></h3>
</div>
<button id="clear-btn" >CLEAR</button>
{% endblock content %}
